/* Estilo para el fondo y los textos */
body {
    background-color: #fffcf7; /* Fondo azul eléctrico */
    color: #00bfff; /* Texto azul claro */
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    line-height: 1.5;
   
}
em{
    font-weight: bold;
    color: darkviolet;
}
.aqui{
    background-color: rgba(255, 20, 145, 0.859);

}


/* Estilo para el encabezado */
header {
    font-size: 4rem;
    background-color: #7B66FF;
    color: rgb(255, 255, 255); 
    padding: 0;
   
   
}
header h1{
    margin: 0 50px;
    font-size: 4rem;
    color: rgb(255, 255, 255); 
    padding:10px;
}
a:link{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: rgba(255, 255, 255, 0.908);
    text-decoration: underline;
}
a:visited{
    color:rgb(255, 255, 255);
}



/* Estilo para la barra de navegación */
nav {
    background-color: #00bfff;
    padding: 20px 50px;
    font-size: 2rem;
 
   
   }

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    flex-wrap: wrap
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff; 
}

h2{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: 3rem;
    
}
h3{
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 15px;
    
    
}


/* Estilo para las secciones */
.cuerpo{
   max-width: 940px ;
    font-size: 1.2rem; 
    color: #010b0f; 
    line-height: 2;
    padding: 20px;
    margin: 20px auto;

}

.bienvenida{
    font-size: 1.2em;
    z-index: 200;
}
.portada{
    width: 400px;
    
}
/*estilo imagenes ejercicios*/
.ejercicios{
    width: 700px; ;
}
.imagc{
    width: 400px;
}

/*links del cuerpo */

.cuerpo a:link{
    text-decoration: none;
    color: #008031;
    font-weight: bold;
}
.cuerpo a:hover{
    color: rgb(12, 188, 115);
    text-decoration: underline;
    font-weight: bold;
}
.cuerpo a:visited{
    color:#008031;
    font-weight: bold;
}
.retrato img{
    width: 300px;
}
.fuerzas{
    width: 400px;
}


